body {
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
} */

/* #photo {
    text-align: left;
} */

#header {
    text-align: left;
}
#profile {
    text-align: left;
}  
#publications {
    text-align: left;
}
#patents {
    text-align: left;
}
#projects {
    text-align: left;
}
#awards {
    text-align: left;
}
#skills {
    text-align: left;
}
